.App {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.captcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 0.5rem 0.5rem;

  @media screen and (max-width: 576px) {
    padding: 0 10px;
  }

  @media screen and (min-width: 992px) {
    max-width: 600px;
    margin: 3rem auto;
  }
}