.wind-direction {

  .wind-arrow {
    width: 3em;
    height: 3em;
    margin-left: 10px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;

    &.north { transform: rotate(0deg); }
    &.northeast { transform: rotate(45deg); }
    &.east { transform: rotate(90deg); }
    &.southeast { transform: rotate(135deg); }
    &.south { transform: rotate(180deg); }
    &.southwest { transform: rotate(225deg); }
    &.west { transform: rotate(270deg); }
    &.northwest { transform: rotate(315deg); }
  }
}

.weather-icon-container {
  text-align: center;

  img {
    width: 6em;
    height: 6em;
  }

  .weather-description {

  }
}