.wind-direction {

  .wind-arrow {
    width: 3em;
    height: 3em;
    margin-left: 10px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;

  }
}

.weather-icon-container {
  text-align: center;

  img {
    width: 6em;
    height: 6em;
  }

  .weather-description {

  }
}