

.wind-direction {

  .wind-arrow {
    width: 2.5em;
    height: 2.5em;
    margin-left: 10px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;

  }
}

.glow-on-focus:focus {
  outline: none;
  box-shadow: 0 0 10px #719ECE;

  &:focus {
    outline: none; // Removes the default outline on focus
    box-shadow: 0 0 8px rgba(81, 203, 238, 1);
  }
}



.btn {
  margin:  20px;
}

.weather-icon-container {
  text-align: center;

  img {
    width: 6em;
    height: 6em;
  }

  .weather-description {
  }
}